.container{
    width:100%;
    padding:0;
}
#header{
    border-top:6px solid #001873;
    border-bottom:1px solid #ccc;
}
.wide_wrap{
    background-color:#f1f1f1;
    width:100%;
}
#header{
    padding:10px;
}
h1#site_title{
    margin:0;
    float:left;
    margin-bottom:-10px;
}
#header p{
    float:left;
    margin: 15px 0 0 20px;
}
.main_content{
    padding:10px;
    width:100%;
}
@media screen and (min-width: 992px){
    .main_content{
        width:970px;
        float:left;
        margin-left:50px;
    }
}
.pbox{
    background-color:#fff;
    box-shadow:0px 0px 6px 1px #ccc;
    -moz-box-shadow:0px 0px 6px 1px #ccc;
    -webkit-box-shadow:0px 0px 6px 1px #ccc;
    margin-bottom:20px;
    width:216px;
    height:188px;
    float:left;
    margin-right:20px;
}
a.pbox_link .pbox:hover{
    box-shadow:0px 0px 6px 0px #333;
    -moz-box-shadow:0px 0px 6px 0px #333;
    -webkit-box-shadow:0px 0px 6px 0px #333;
}
.pbox img{
    width:100%;
    height:120px;
}
.ptext{
    padding:10px;
}
.ptext h3{
    margin:0;
    font-size:15px;
}
.pbox_link:hover{
    text-decoration:none;
}
a.feed_res{
    font-size:14px;
    margin-left:20px;
}
.feed_list_box {
    background-color:#fff;
    padding:5px;
    margin-bottom:50px;
}
ul.feeds_list{
    list-style:none;
    padding:0;
}
ul.feeds_list li{
    border-bottom:1px solid #ccc;
    padding:5px 0;
}
ul.feeds_list span.blog_title{
    margin-right:20px;
}
ul.feeds_list time{
    float:right;
}
#sidebar ul{
    list-style:none;
    padding-left:0;
}
#sidebar ul li{
    border-bottom: 1px solid #ccc;
}
#sidebar ul li a{
    color:#333;
    display:block;
    padding: 10px 5px;
}
#sidebar ul li a:hover{
    color:#fff;
    text-decoration:none;
    background-color:#001873;
}
#sidebar h2{
    font-size: 26px;
    padding-left: 5px;
    border-left: 5px solid #001873;
}
footer .container{
    width:80%;
    margin:auto;
}
footer .copyright{
    background-color:#001873;
    color:#fff;
    padding:3px;
}
footer .copyright p{
    margin:0;
    font-size:12px;
    text-align:center;
}
footer .foot_menu{
    padding:30px;
}
footer .foot_menu ul.about li{
    list-style:none;
    float:left;
    margin-right:20px;
}
footer .foot_main{
    width:80%;
    margin:auto;
}
footer .foot_main h2{
    font-size:24px;
}
footer .foot_main ul{
    list-style:none;
    padding-left:0;
}
footer .foot_main ul li{
    margin-bottom:5px;
}
/* Panel opening and closing animation lasts 200ms */
body {
  transition: transform .2s;
}
/* Slide page 200px to the right when panel is opened */
body.ps-active {
  transform: translateX(230px);
}
/* Position panel */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;  /* remember to set 100% height for all its parents too, including html and body */
  transform: translateX(-230px);
  width:230px;
  background-color:#fff;
  padding:0 10px;
}
#left-panel-link{
    float: left;
    margin-right: 10px;
    font-size: 32px;
    margin-top: 0px;
    color: #5d5d5d;
}
